# Files and folders that will not be tracked by Git

# Python virtual environment
venv/
.venv/
venv311/

# Python cache files
__pycache__/
*.pyc

# IDE and operating system specific files
.idea/
.vscode/
.DS_Store
Thumbs.db



